
body {
    background: #fff;
    color: #333;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
h1 {
  text-align: center;
}
p {
  margin: 1px;
  font-size: 1.8rem;
  padding-left: 10%;
  padding-top: 5%;
}

h3 {
    text-align: center;
    color: #333;
    font-weight: 700;
    font-size: 2em;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
}

input[type="text"] {
    display: inline-flex;
    font-size: 18px;
    line-height: 13px;
    height: 0.7em;
    padding: 8px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 2px;

    width: 40%;
    align-self: center;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #111;
}

input.odds {
    font-size: 22px;
}

.prior input.odds {
    width: 68%;
}


input[type="text"]:focus {
    color: #444;
}

input.hypothesis, input.evidence {
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 1.5em;
    margin: 8px;
}
.invalid {
    color: #f9868a;
    font-size: 0.75em;
}

.evidence input.odds {
    padding-left: 4px;
    width: 43%;
}

button {
    background: transparent;
    border-width: 1px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
}

button.add-hypothesis{
    background: transparent;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 4rem;
    padding-bottom: 10px;
    margin-left: 8px;
}

button.add-evidence{
    background: transparent;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.7rem;
    grid-column: 1/3;
    width: 100%;
    margin-bottom: 3px;
    margin-top: 8px
}


.clear-session {
    width: 100%;
}

.export-markdown {
    width: 100%;
}

.before-bar {
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    display: flex;
    z-index: 1; 
    position: relative;
    overflow: hidden;
}

.after-bar {
    top: 0; 
    left: 0; 
    width: 100%;
    height: 12px;
    display: flex; 
    grid-column: 2;
    z-index: 1; 
    position: relative;
}


.prior .percent button{
    padding-top: 3.3px;
    /* padding-bottom: 2px; */
    /* padding-right: 5.5px; */
    cursor: pointer;
    width: 30px;
    /* margin-left: 0.7px; */
    /* position: absolute;
    right: 4px; */
    font-size: 0.75em;

}

.evidence .percent button{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    cursor: pointer;

}




label {
    margin: auto;
    display: none;
    font-size: 0.5em;
    padding-left: 10%;
}

.container {
  margin: 10px auto 0;
  margin-left: 200px;
}

.layout {
    display: grid;
}

.evidence {
    display: grid;
    min-height: 80px;
}

.hypothesis {
    display: grid;
    width: 35%;
}

.chance {
    display:flex;
    padding:10px;
    font-size: 2.5em;
    width: 100%;
}
  
.posterior {
    padding-top:5px;
}

.posterior .percent button {
    font-size: 1em;
    
}

.probability {
    display: inline-flex;
    margin-left: 10px;
    margin-top: 5px;
}

.percent {
    display: inline;
    border: #111;
}
  
.odds {
    display: inline;
    width: 80%;
    margin-left: 10px;
    margin-top: 5px;
    overflow-wrap: anywhere;
}


.d0, .d1, .d2, .d3, .d4 {
    /* margin-top: 5px; */
}

.d0 .hyp, .d1 .hyp, .d2 .hyp, .d3 .hyp, .d4 .hyp {
    grid-column: span 1;
}

.c0 {
    background-color: #f9868a;
    grid-column: 1 / span 2;
    font-size: 1.75rem;
}

.c1 {
    background-color: #788fd5;
    grid-column: 3 / span 2;
    font-size: 1.75rem;

}

.c2 {
    background-color: #fae0a2;
    grid-column: 5 / span 2;
    font-size: 1.75rem;

}

.c3 {
    background-color: #9f90c9;
    grid-column: 7 / span 2;
    font-size: 1.75rem;
}

.c4 {
    background-color: #a2cca4;
    grid-column: 9 / span 2;
    font-size: 1.75rem;
}


.d0 .c0{
    background-color: #f9868a;
    grid-column: 1;
}

.d0 .c1, .d0.c1 {
    background-color: #f9868a66;
    grid-column: 2;
}

.d1 .c0, .d1.c0{
    background-color: #788fd5;
    grid-column: 4;
}

.d1 .c1, .d1.c1 {
    background-color: #788fd566;
    grid-column: 5;
}


.d2 .c0, .d2.c0{
    background-color: #fae0a2;
    grid-column: 6;
}

.d2 .c1, .d2.c1{
    background-color: #fae0a266;
    grid-column: 7;
}


.d3 .c0, .d3.c0{
    background-color: #9f90c9;
    grid-column: 8;
}

.d3 .c1, .d3.c1{
    background-color: #9f90c966;
    grid-column: 9;
}

.d4 .c0, .d4.c0{
    background-color: #a2cca4;
    grid-column: 8;
}

.d4 .c1, .d4.c1{
    background-color: #a2cca466;
    grid-column: 9;
}


.hyp {
    text-align: center;
    font-size: 1.3em;
    width: 200px;
    padding-top: 5px;
    display: flex;
    position: relative;
}

.ev {
    width: 100%;
    position: relative;
    background-color: aliceblue;
    font-size: 1.3em;
}

.evidence .hyp {
    width: 100px;
}

.evidence {
    grid-column: 1/5;
    /* grid-gap: 4px; */
}

.label {
    margin-left: 10%;
    padding-right: 20%;
    padding-top: 5px;
    overflow-wrap: anywhere;
}

.label-editable:hover {
    margin-left: 10%;
    padding-right: 20%;
    opacity: 50%;
    overflow-wrap: anywhere;
    cursor: pointer;
}

.prior .left .label {
    font-size: 1.3em;
}

.evidence .left .label {
    padding-left: 0%;
}

.label-button-edit {
    position: absolute;
    /* right: 23px; */
    width: 30px;
    right: 4px;
    top: 4px;
    /* border: 1px; */
}

.label-button-x {
    position: absolute;
    right: 3px;
    top: 3px;
    /* border: 1px; */
}

.label-button-edit:hover,
.label-button-x:hover {
    cursor: pointer;
}

.label-button-edit {
    transition: color 0.1s ease;
}

.label-button-x {
    transition: color 0.1s ease;
}

input.label-input {
    width: 68%;
    margin-left: 10%;
}


.d0 {
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center; 
  align-items: center; 
}

.d1 {
    width: 100%;
    height: 100%;
    position: relative;
}

.d2 {
    width: 100%;
    height: 100%;
    position: relative;
}


.d3 {
    width: 100%;
    height: 100%;
    position: relative;
}

.d4 {
    width: 100%;
    height: 100%;
    position: relative;
}



.main {
    display: grid;
    grid-template-columns: 400px 400px 200px;
    width: 120%;
}

.prior {
    display: grid;
    grid-template-columns: 400px 400px 200px;
    grid-column: 1/4;
    padding-bottom: 5px;
}

.evidence {
    display: grid;
    grid-template-columns: 400px 400px 200px;
    padding-bottom: 5px;
}


.posterior {
    display: grid;
    grid-template-columns: 400px 400px 200px;
    grid-column: 1/4;
}


.left {
    grid-column: 1;
}

.center {
    grid-column: 2;
}

.right {
    height: 100px;
    grid-column: 3;
}


input[type=file] {
    width: 100%;
}

.dropzone {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding-left: 0%;
    cursor: pointer;
    margin-bottom: 10px;
    background: transparent;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.2rem;
    color: #333;
    border-top: 1px solid #999;
    border-left: 1px solid #888;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-top: 5px;
    box-sizing: border-box;
}

.dropzone input[type=file] {
    display: none;
}

.menu button {
    height: 40px;
    margin-top: 5px;
    cursor: pointer;

}


button.no_button{
    border: none;
    cursor: default !important;
}

.percent-symbol {
    display: flex;
    z-index: 5;
    position: absolute;
    right: 4px;
    top: 28px;

}

.percent-symbol button {
    font-size: 1.5em;
}


  .like {
    position: absolute; 
    top: calc(40% - 13px); 
    left: 38.5%; 
    transform: translateX(-50%); 
    z-index: 3;
    font-size: 1.5em !important;
    width: 68% !important;
  }
  
  .slider {
    width: 100%; 
    -webkit-appearance: none; 
    appearance: none;
    background: transparent; 
    position: absolute; 
    bottom: 0; 
    z-index: 2; 
    height: 100%
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20%;
    height: 100%;
    background: none;
    cursor: pointer;
    border: none;
  }
  
  .slider::-moz-range-thumb {
    width: 20%; 
    height: 100%; 
    background:none; 
    cursor: pointer;
    border: none;
  }


.triangle-top::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #557;
    top: 0px;
    left: calc(var(--percentage) * 1%);
    transform: translateX(-50%);
}


.triangle-bot::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #557;
    bottom: 0px;
    left: calc(var(--percentage) * 1%);
    transform: translateX(-50%);
}



.bart{
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 3px;
}

.after-bar .collapsed {
    width: 0 !important;
    transition: width 0.2s ease-in-out;
}

.after-bar .normalized {
    transition: width 0.4s ease-in-out;
    transition-delay: 0.4s;
}

.modal {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    width: 33%;
    height: 100%;
    overflow: auto;
    background-color: #fefefe; 
}

.modal-content {
    margin: 20px;
    padding: 20px;
    height: 90%; 
    overflow-y: auto;
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content p {
    font-size: 15px;
    padding: 0 0 0 0;
}

.modal-content a {
    color: #788fd5;
}